@{
    ViewData["Title"] = "Home";
}
<section class="banner-wrap">
    <div class="flex">
        <div class="banner-left"></div>
        <div class="banner slick-sliders">
            <div class="banner-sliders slick-slider" data-item="1" data-arrows="false" data-dots="true" data-autoplay="true" data-fade="true" data-cssease="ease-out">
                <div class="item"><img src="images/bg/bg-hero-3.jpeg" alt="Banner"></div>
                <div class="item"><img src="images/bg/bg-hero-1.jpeg" alt="Banner"></div>
                <div class="item"><img src="images/bg/bg-hero-2.jpeg" alt="Banner"></div>
            </div>
        </div><!-- .banner -->
    </div>
    <div class="container">
        <div class="banner-content">
            <span class="offset-item">A New Way to Ride</span>
            <h1 class="offset-item">Welcome to Pedal<span style="color: #23d3d3;">Shifter.</span></h1>
            <form action="#" class="site-banner__search layout-02 offset-item">
                <div class="field-input">
                    <label for="s">Find</label>
                    <input class="site-banner__search__input open-suggestion" id="s" type="text" name="s" placeholder="Ex: fastfood, beer" autocomplete="off">
                    <div class="search-suggestions name-suggestions">
                        <ul>
                            <li><a href="#"><i class="las la-utensils"></i><span>Restaurant</span></a></li>
                            <li><a href="#"><i class="las la-spa"></i><span>Beauty</span></a></li>
                            <li><a href="#"><i class="las la-dumbbell"></i><span>Fitness</span></a></li>
                            <li><a href="#"><i class="las la-cocktail"></i><span>Nightlight</span></a></li>
                            <li><a href="#"><i class="las la-shopping-bag"></i><span>Shopping</span></a></li>
                            <li><a href="#"><i class="las la-film"></i><span>Cinema</span></a></li>
                        </ul>
                    </div>
                </div><!-- .site-banner__search__input -->
                <div class="field-input">
                    <label for="loca">Where</label>
                    <input class="site-banner__search__input open-suggestion" id="loca" type="text" name="where" placeholder="Your city" autocomplete="off">
                    <div class="search-suggestions location-suggestions">
                        <ul>
                            <li><a href="#"><i class="las la-location-arrow"></i><span>Current location</span></a></li>
                            <li><a href="#"><span>San Francisco, CA</span></a></li>
                        </ul>
                    </div>
                </div><!-- .site-banner__search__input -->
                <div class="field-submit">
                    <button><i class="las la-search la-24-black"></i></button>
                </div>
            </form><!-- .site-banner__search -->
        </div>
    </div>
</section><!-- .banner-wrap -->
<section class="img-box-inner">
    <div class="container">
        <div class="title ld-title">
            <h2>How It Works</h2>
            <p>Rent bikes from fellow bikers across the globe.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="img-box-item">
                    <img src="images/icons/pelican.png" alt="">
                    <h3>Discover</h3>
                    <p>Take a deep dive and try our list of over 40 unique generators</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box-item">
                    <img src="images/icons/island.png" alt="">
                    <h3>Local tips</h3>
                    <p>Find placeholder images for your next design.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box-item">
                    <img src="images/icons/surf.png" alt="">
                    <h3>Plan your trip</h3>
                    <p>Excepteur sint occaecat cupidatat non proident</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="restaurant-wrap">
    <div class="container">
        <div class="title_home offset-item">
            <h2>Popular Restaurants in Town</h2>
        </div>
        <div class="restaurant-sliders slick-sliders offset-item">
            <div class="restaurant-slider slick-slider" data-item="4" data-itemScroll="4" data-arrows="true" data-dots="true" data-tabletItem="2" data-tabletScroll="2" data-mobileItem="1" data-mobileScroll="1">
                <div class="place-item layout-02 place-hover" data-maps_name="mattone_restaurant">
                    <div class="place-inner">
                        <div class="place-thumb hover-img">
                            <a class="entry-thumb" href="single-3.html"><img src="images/listing/01.jpg" alt=""></a>
                            <a href="#" class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                <span class="icon-heart">
                                    <i class="la la-bookmark large"></i>
                                </span>
                            </a>
                            <a class="entry-category rosy-pink" href="#">
                                <i class="las la-utensils"></i><span>Restaurant</span>
                            </a>
                            <a href="#" class="author" title="Author"><img src="images/avatars/male-3.jpg" alt="Author"></a>
                        </div>
                        <div class="entry-detail">
                            <div class="entry-head">
                                <div class="place-type list-item">
                                    <span>Restaurant</span>
                                </div>
                                <div class="place-city">
                                    <a href="#">Paris</a>
                                </div>
                            </div>
                            <h3 class="place-title"><a href="single-3.html">Mattone Restaurant</a></h3>
                            <div class="open-now"><i class="las la-door-open"></i>Open now</div>
                            <div class="entry-bottom">
                                <div class="place-preview">
                                    <div class="place-rating">
                                        <span>5.0</span>
                                        <i class="la la-star"></i>
                                    </div>
                                    <span class="count-reviews">(2 Reviews)</span>
                                </div>
                                <div class="place-price">
                                    <span>$$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place-item layout-02 place-hover" data-maps_name="retro_fitness">
                    <div class="place-inner">
                        <div class="place-thumb hover-img">
                            <a class="entry-thumb" href="single-3.html"><img src="images/listing/09.jpg" alt=""></a>
                            <a href="#" class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                <span class="icon-heart">
                                    <i class="la la-bookmark large"></i>
                                </span>
                            </a>
                            <a class="entry-category rosy-pink" href="#">
                                <i class="las la-utensils"></i><span>Restaurant</span>
                            </a>
                            <a href="#" class="author" title="Author"><img src="images/avatars/male-2.jpg" alt="Author"></a>
                        </div>
                        <div class="entry-detail">
                            <div class="entry-head">
                                <div class="place-type list-item">
                                    <span>Pizza</span>
                                </div>
                                <div class="place-city">
                                    <a href="#">Bordeaux</a>
                                </div>
                            </div>
                            <h3 class="place-title"><a href="single-3.html">Retro Pizz</a></h3>
                            <div class="open-now"><i class="las la-door-open"></i>Open now</div>
                            <div class="entry-bottom">
                                <div class="place-preview">
                                    <div class="place-rating">
                                        <span>5.0</span>
                                        <i class="la la-star"></i>
                                    </div>
                                    <span class="count-reviews">(2 Reviews)</span>
                                </div>
                                <div class="place-price">
                                    <span>$$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place-item layout-02 place-hover" data-maps_name="body_spa">
                    <div class="place-inner">
                        <div class="place-thumb hover-img">
                            <a class="entry-thumb" href="single-3.html"><img src="images/listing/gallery-06.jpg" alt=""></a>
                            <a href="#" class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                <span class="icon-heart">
                                    <i class="la la-bookmark large"></i>
                                </span>
                            </a>
                            <a class="entry-category rosy-pink" href="#">
                                <i class="las la-utensils"></i><span>Restaurant</span>
                            </a>
                            <a href="#" class="author" title="Author"><img src="images/avatars/female-3.jpg" alt="Author"></a>
                        </div>
                        <div class="entry-detail">
                            <div class="entry-head">
                                <div class="place-type list-item">
                                    <span>Fastfood</span>
                                </div>
                                <div class="place-city">
                                    <a href="#">Lyon</a>
                                </div>
                            </div>
                            <h3 class="place-title"><a href="single-1.html">Antino Bin</a></h3>
                            <div class="close-now"><i class="las la-door-closed"></i>Close now</div>
                            <div class="entry-bottom">
                                <div class="place-preview">
                                    <div class="place-rating">
                                        <span>5.0</span>
                                        <i class="la la-star"></i>
                                    </div>
                                    <span class="count-reviews">(2 Reviews)</span>
                                </div>
                                <div class="place-price">
                                    <span>$$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place-item layout-02 place-hover" data-maps_name="antoinette">
                    <div class="place-inner">
                        <div class="place-thumb hover-img">
                            <a class="entry-thumb" href="single-1.html"><img src="images/listing/05.jpg" alt=""></a>
                            <a href="#" class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                <span class="icon-heart">
                                    <i class="la la-bookmark large"></i>
                                </span>
                            </a>
                            <a class="entry-category rosy-pink" href="#">
                                <i class="las la-utensils"></i><span>Restaurant</span>
                            </a>
                            <a href="#" class="author" title="Author"><img src="images/avatars/male-4.jpg" alt="Author"></a>
                        </div>
                        <div class="entry-detail">
                            <div class="entry-head">
                                <div class="place-type list-item">
                                    <span>Coffee</span>
                                </div>
                                <div class="place-city">
                                    <a href="#">Nantes</a>
                                </div>
                            </div>
                            <h3 class="place-title"><a href="single-1.html">Unisho Ramen</a></h3>
                            <div class="close-now"><i class="las la-door-closed"></i>Close now</div>
                            <div class="entry-bottom">
                                <div class="place-preview">
                                    <span class="no-reviews">(no reviews)</span>
                                </div>
                                <div class="place-price">
                                    <span>$$$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place-item layout-02 place-hover" data-maps_name="kathay_cinema">
                    <div class="place-inner">
                        <div class="place-thumb hover-img">
                            <a class="entry-thumb" href="single-1.html"><img src="images/listing/gallery-03.jpg" alt=""></a>
                            <a href="#" class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                <span class="icon-heart">
                                    <i class="la la-bookmark large"></i>
                                </span>
                            </a>
                            <a class="entry-category rosy-pink" href="#">
                                <i class="las la-utensils"></i><span>Restaurant</span>
                            </a>
                            <a href="#" class="author" title="Author"><img src="images/avatars/female-3.jpg" alt="Author"></a>
                        </div>
                        <div class="entry-detail">
                            <div class="entry-head">
                                <div class="place-type list-item">
                                    <span>Restaurant</span>
                                </div>
                                <div class="place-city">
                                    <a href="#">Paris</a>
                                </div>
                            </div>
                            <h3 class="place-title"><a href="single-1.html">Kathay Restaurant</a></h3>
                            <div class="close-now"><i class="las la-door-closed"></i>Close now</div>
                            <div class="entry-bottom">
                                <div class="place-preview">
                                    <span class="no-reviews">(no reviews)</span>
                                </div>
                                <div class="place-price">
                                    <span>$$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .restaurant-slider -->
            <div class="place-slider__nav slick-nav">
                <div class="place-slider__prev slick-nav__prev">
                    <i class="las la-angle-left"></i>
                </div><!-- .place-slider__prev -->
                <div class="place-slider__next slick-nav__next">
                    <i class="las la-angle-right"></i>
                </div><!-- .place-slider__next -->
            </div><!-- .place-slider__nav -->
        </div><!-- .restaurant-sliders -->
    </div>
</section><!-- .restaurant-wrap -->
<section class="featured-home featured-wrap">
    <div class="container">
        <div class="title_home offset-item">
            <h2>Featured Cities</h2>
            <p>Explore restaurants & cafes by locality</p>
        </div>
        <div class="featured-inner offset-item">
            <div class="item">
                <div class="flex">
                    <div class="flex-col">
                        <div class="cities">
                            <div class="cities-inner">
                                <a href="city-details-1.html" class="hover-img">
                                    <span class="entry-thumb"><img src="images/city/chicago-small.jpeg" alt="Chicago"></span>
                                    <span class="entry-details">
                                        <h3>Chicago</h3>
                                        <span>80 places</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-col">
                        <div class="cities">
                            <div class="cities-inner">
                                <a href="city-details-1.html" class="hover-img">
                                    <span class="entry-thumb"><img src="images/city/losangeles-small.jpeg" alt="Los Angeles"></span>
                                    <span class="entry-details">
                                        <h3>Los Angeles</h3>
                                        <span>70 places</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="cities">
                            <div class="cities-inner">
                                <a href="city-details-1.html" class="hover-img">
                                    <span class="entry-thumb"><img src="images/city/newyork-small.jpeg" alt="New York"></span>
                                    <span class="entry-details">
                                        <h3>New York</h3>
                                        <span>85 places</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-col">
                        <div class="cities">
                            <div class="cities-inner">
                                <a href="city-details-1.html" class="hover-img">
                                    <span class="entry-thumb"><img src="images/city/sandiego-small.jpeg" alt="San Diego"></span>
                                    <span class="entry-details">
                                        <h3>San Diego</h3>
                                        <span>60 places</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="cities">
                            <div class="cities-inner">
                                <a href="city-details-1.html" class="hover-img">
                                    <span class="entry-thumb"><img src="images/city/san-fransico-small.jpeg" alt="San Fransico"></span>
                                    <span class="entry-details">
                                        <h3>San Fransico</h3>
                                        <span>65 places</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .featured-inner -->
    </div><!-- .container -->
</section><!-- .featured-wrap -->
<section class="join-wrap" style="background-image: url(images/bg/bg-join-us.jpg);">
    <div class="container">
        <div class="join-inner">
            <h2 class="offset-item">Restaurateurs Join Us</h2>
            <p class="offset-item">Join the more than 10,000 restaurants which fill seats and manage reservations with Golo.</p>
            <a href="#" class="btn offset-item" title="Learn More">Learn More</a>
        </div>
    </div>
</section><!-- .join-wrap -->